<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionId" 
         providerName="System.Data.SqlClient" 
         connectionString="Data Source=198.71.226.6; Initial Catalog=GrubarBetting; Integrated Security=False; User ID=grubar;Password=cfC2x73!; MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>